.hero {
  min-height: 92vh;
  background: url(../img/green-valley.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex(column, center, center);
}

.hero-text {
  background: $bg-color-trans;
  padding: 5rem;
  margin: 3rem;
  @include flex(column, center, center);
  h2,
  h3 {
    color: white;
    padding-bottom: 4rem;
  }

  h2 {
    font-family: "Julius Sans One", sans-serif;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 300;
  }

  button {
    font-size: 2rem;
    &:hover {
      cursor: pointer;
    }
    a {
      color: $bg-color;
    }
  }
}
